@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
html body {
  margin: 0;
}
html body #overlay {
  display: none;
}
html body #overlay.open {
  display: block;
  position: fixed;
  cursor: zoom-out;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3137254902);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 12;
}
html body #expandedImage {
  margin: 0 auto;
  max-width: 97%;
  max-height: 97%;
  position: absolute;
  cursor: zoom-out;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translate(-50%, -50%);
}
html body #heroImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
html body header {
  display: grid;
  width: 100vw;
  height: 50rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
html body header h1 {
  margin: 0;
  color: white;
  width: min(50rem, 90vw);
  border: 10px solid white;
  font-size: 2.5rem;
  text-align: center;
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 2rem 4rem;
}
html body header #info {
  position: absolute;
  left: 3rem;
  bottom: 2rem;
}
html body header #info p {
  font-size: 1.1rem;
  color: white !important;
}
html body #main-container {
  justify-content: center;
  display: grid;
  transform: translateX(-11rem);
  grid-template-columns: 22rem min-content;
}
html body #toc-container {
  margin: 0 0;
  background-color: white;
  box-sizing: border-box;
  padding: 2rem 0rem 2rem 4rem;
}
html body #toc-container nav {
  position: sticky;
  top: 2rem;
}
html body #toc-container nav ul:not(li ul) {
  padding: 0;
}
html body #toc-container nav li {
  padding-top: 0.5rem;
}
html body #toc-container nav * {
  text-decoration: none;
  list-style-type: none;
}
html body #toc-container nav a {
  color: black;
}
html body #toc-container nav h2 {
  font-size: 2rem;
  color: rgb(0, 89, 223);
  padding-bottom: 0rem;
}
html body #toc-container .toc-h2 {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  /* Adjust the font size as needed */
}
html body #toc-container .toc-h3 {
  font-weight: lighter;
  font-size: 1.1rem;
  /* Adjust the font size as needed */
}
html body #toc-container .toc-h4 {
  font-size: 1.1rem;
  /* Adjust the font size as needed */
}
html body main {
  width: min(50rem, 90vw);
  box-sizing: border-box;
  margin: -5rem 0;
  background-color: white;
  padding: 2rem 4rem;
}
html body p {
  font-size: 1.2rem;
  color: rgb(51, 51, 51);
}
html body h2 {
  font-size: 2rem;
  color: rgb(0, 89, 223);
}
html body h3 {
  font-size: 1.3rem;
}
html body pre {
  margin: 0 !important;
}
html body video {
  width: 100%;
}
html body img {
  width: 100%;
  cursor: zoom-in;
}
html body .caption {
  color: #6b6b6b;
}
html body .code {
  position: relative;
}
html body .code .filename {
  z-index: 11;
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 1.5rem;
  line-height: 2.5rem;
}
html body .code .code-toolbar {
  padding-top: 2.5rem !important;
}
html body .code .code-toolbar .toolbar {
  background-color: #252525 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
  gap: 1rem;
  height: 2.5rem !important;
  top: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}
html body .code .code-toolbar .toolbar .toolbar-item button:hover span {
  background-color: white;
  color: rgb(0, 89, 223) !important;
}
html body .code .code-toolbar .toolbar .toolbar-item button span {
  background-color: rgb(0, 89, 223);
  border: 2px solid rgb(0, 89, 223) !important;
}
html body .code .code-toolbar .toolbar .toolbar-item button,
html body .code .code-toolbar .toolbar .toolbar-item span {
  border-radius: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  line-height: 2.5rem;
  padding: 0;
}
html body .code .code-toolbar .toolbar .toolbar-item span {
  height: 2.5rem !important;
  display: block;
  text-align: center;
  padding: 0 1rem !important;
  color: white !important;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */